@import url('https://fonts.googleapis.com/css?family=Coustard&display=swap');

.card {
  position: relative;
  width: 380px;
  overflow: hidden;
  padding: 10px;
  margin: 10px 4px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 9px #606060;
  border-top: 1px solid black;
  border-left: 1px solid black;
  vertical-align: top;
  font-family: 'Coustard', serif;

  transition: all .4s ease-in;
}

.desc-closed {
  height: 54px;
}

.desc-opened {
  height: 200px;
}

.card .title-card {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.card .title-card .icon {
  float: right;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  padding: 3px 11px;
  border-radius: 50%;
}

.card .title-card .icon:active {
  border: none;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
}

.card .desc-card {
  width: 100%;
  height: 110px;
}

.card .desc-card p {
  text-indent: 20px;
  text-align: justify;
}

.card .desc-info {
  border: 1px solid red;
}

.card .link-card {
  float: right;
  background: #222;
  color: white;
  padding: 1px 15px;
  border-radius: 10px;
}

.card .link-card:hover {
  box-shadow: 1px 1px 10px grey;
}
